<div class="container">
    <div class="card">
        <div class="card-content black-text">
            <p class="card-title">
                <span class="page-title">Contacts</span>
            </p>
            <div class="card-description">
                <ul class="about-list">
                    <li>
                            <i class="fa fa-envelope fa-2x fa-fw"></i>
                            <code>$ echo 'YWxleEBvbGl2YWxleC50ZWNoCg==' | base64 --decode</code>
                    </li>
                    <li>
                            <i class="fa fa-github fa-2x fa-fw"></i>
                            GitHub: <a href="https://github.com/RockyTV">@RockyTV</a>
                    </li>
                    <li>
                            <i class="fa fa-key fa-2x fa-fw"></i>
                            Keybase: <a href="https://keybase.io/xinayder">@xinayder</a>
                    </li>
                    <li>
                            <i class="fa fa-steam fa-2x fa-fw"></i>
                            Steam: <a href="https://steamcommunity.com/id/rockytv">/id/RockyTV</a>
                    </li>
                    <li>
                            <i class="fa fa-commenting fa-2x fa-fw"></i>
                        Xinayder on <a href="https://esper.net">EsperNet</a>, <a href="https://freenode.net">freenode</a>
                    </li>
                </ul>
                <p class="card-title">
                    <span class="page-title">Projects</span>
                </p>
                <ul class="about-list">
                    <li>
                        <a href="https://github.com/RockyTV/hortus">Arduino Garden Utility</a>
                    </li>
                    <li>
                        <a href="https://github.com/godarklight/DarkMultiPlayer">Kerbal Space Program Multiplayer mod</a>
                    </li>
                    <li>
                        <a href="https://github.com/RockyTV/DOGEinfo">DOGEcoin info for Chrome</a>
                    </li>
                    <li>
                        <a href="https://github.com/RockyTV/duality-git">RockyTV's Git Plugin for Duality</a>
                    </li>
                    <li>
                        <a href="https://github.com/RockyTV/duality-git">Rust IRC bot</a>
                    </li>
                    <li>
                        <a href="https://github.com/RockyTV/dicepyware">Secure Passphrase Generator</a>
                    </li>
                    <li>
                        <a href="https://github.com/RockyTV/yabpt">Yet Another Bitcoin Price Ticker for Firefox</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
