<div class="container">
    <div class="card">
        <div class="card-content black-text">
            <p class="card-title">
                <span class="page-title">About Me</span>
            </p>
            <div class="card-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dapibus ligula, in tempor diam. Vestibulum vel nulla eu dolor bibendum iaculis ac ac sem. Fusce consequat lacus ut orci ultricies blandit. Suspendisse facilisis lacus elementum odio scelerisque dapibus. In purus diam, imperdiet in varius sed, egestas et dolor. Sed auctor orci tempus est gravida, ac dignissim ex condimentum. Etiam posuere dolor consequat, scelerisque tortor in, imperdiet sem. Donec posuere ligula at rhoncus iaculis. Mauris posuere venenatis orci, quis pulvinar felis sollicitudin eget. Sed vel condimentum quam.</p>
                <p>Quisque nec arcu tortor. Quisque commodo, diam eu facilisis semper, nisl purus venenatis justo, vel lobortis nibh risus eget lectus. Vestibulum at aliquet ipsum, sed sodales felis. Vivamus vitae pulvinar diam. Ut sit amet ligula augue. Suspendisse potenti. Maecenas ut eros neque. In hendrerit quis nulla ut finibus. Vestibulum quam massa, malesuada a diam ac, lobortis varius tortor.</p>
            </div>
        </div>
    </div>
</div>