<div class="container">
    <div class="card">
        <div class="card-content black-text">
            <p class="card-title">
                <span class="page-title">About Me</span>
            </p>
            <div class="card-description">
                <p>Hello. My name is Alexandre Oliveira. I'm a student from Brazil. I like playing games and coding.</p>
                <p>PGP Public Key: <a href="/publickey.txt"><code>BE02 A82D 8F6D D1D1 DB4E  D70D 321D 9BBE 6382 6D5B</code></a></p>
                <br>
                <h5>Notable Contributions</h5>
                <ul>
                    <li><a href="https://github.com/godarklight/darkmultiplayer">DarkMultiPlayer</a> - the most up-to-date Kerbal Space Program multiplayer mod.</li>
                    <li><a href="https://github.com/tehgimp/kerbalmultiplayer">KerbalMultiPlayer</a> - a Kerbal Space Program multiplayer mod, of which DarkMultiPlayer was based off.</li>
                </ul>
                <br>
                <h5>Original Work</h5>
                <ul>
                    <li><a href="https://github.com/RockyTV/DOGEinfo">DOGEinfo</a> - a Google Chrome extension to keep track of Dogecoin price, amongst other things.</li>
                    <li><a href="https://github.com/RockyTV/SettingsParser">SettingsParser</a> - a simple key equals value parser for C#, with the help of <a href="https://github.com/godarklight">Christopher Andrews</a>.</li>
                    <li><a href="https://addons.mozilla.org/en-US/firefox/addon/yabpt/">Yet Another Bitcoin Price Ticker</a> - a simple Firefox extension that displays the current price of Bitcoin.</li>
                    <li><a href="https://github.com/RockyTV/hortus">Hortus</a> - a simple garden soil moisture utility made with Arduino.</li>
                    <li><a href="https://github.com/RockyTV/dicepyware">Dicepyware</a> - simple python utility that generates secure random passphrases.</li>
                </ul>
                <br>
                <h5>Duality Plugins</h5>
                <ul>
                    <li><a href="https://github.com/RockyTV/duality-tiled">DualityTiled</a> - a Tiled integration plugin for Duality.</li>
                    <li><a href="https://github.com/RockyTV/duality-git">RockyTV's Git Plugin</a> - A Duality plugin which turns your current game directory into a Git repository.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
