<div class="container contact">
    <div class="card">
        <div class="card-content black-text">
            <p class="card-title">
                <span class="page-title">Contact</span>
            </p>
            <div class="card-description">
                <div class="row">
                    <form class="col s12" action="https://getsimpleform.com/messages?form_api_token=79eb2ff8e2632e7170d4b3eef886eec0" method="post">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input type="text" id="first_name" name="First Name" class="validate" required>
                            <label for="first_name">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input type="text" id="last_name" name="Last Name" class="validate" required>
                            <label for="last_name">Last Name</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">email</i>
                            <input type="email" id="email" name="Email" class="validate" required>
                            <label for="email">Email</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea type="textarea" id="message" name="Message" length="512" class="materialize-textarea" required></textarea>
                            <label for="message">Message</label>
                        </div>
                        <div class="input-field col s12">
                            <button class="btn waves-effect waves-light right" type="submit">
                                Submit
                                <i class="material-icons left">send</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>