<section>
    <div class="card sidebar">
        <div class="card-content black-text">
            <span class="card-title black-text">Useful Pages</span>
            {% for resource in site.data.resources %}
            <p><a href="{{ site.baseurl }}{{ resource.url }}">{{ resource.name }}</a></p>
            {% endfor %}
        </div>
    </div>

    <div class="card sidebar">
        <div class="card-content black-text">
            <span class="card-title black-text">Projects</span>
            <ul class="collapsible" data-collapsible="accordion">
                {% for project in site.data.projects %}
                <li>
                    <div class="collapsible-header">{{ project.name }}</div>
                    <div class="collapsible-body">
                        <p>{{ project.description }}</p>
                        <p>Language: {{ project.language }}</p>
                        <p><a href="https://github.com/{{ project.repository }}">Check it out on GitHub</a></p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
