@font-face {
  font-family: emoji;
  src: url('../fonts/blobmoji.ttf') format('truetype');
  
  /* Emoji unicode blocks */
  unicode-range: U+2700–27BF, U+1F650–1F67F, U+1F600–1F64F, U+2600–26FF, U+1F300–1F5FF, U+1F900–1F9FF, U+1FA70–1FAFF, U+1F680–1F6FF;
}
