---
---
@import 'materialize/materialize';

$primary-text: rgba(0, 0, 0, .87);
$secondary-text: rgba(0, 0, 0, .54);

@media screen and (max-width: 960px) {
    .container {
        width: 100%;
    }
    .card {
        .card-title {
            .post-date {
                font-size: 0.5em;
            }
        }
    }
}

.card-content {
    a:hover {
        color: $primary-color !important;
    }
}

body {
    background-color: #e5e5e5;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nav {
    box-shadow: none !important;
}

.container {
    max-width: 960px;
}

header {
    background-color: $primary-color;
    //box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
}

.tabs {
    //max-width: 960px !important;
    width: 100%;
    background-color: $primary-color;
    color: #fff;
    .indicator {
        background-color: $secondary-color;
    }
}

.card {
    color: $primary-text;
    p, ul {
        opacity: .87;
    }
    .card-content {
        .card-description {
            
            .post-info {
                color: $secondary-text;
                padding: 0em;
                display: block;
                font-size: 0.8em;
                line-height: normal;
                span {
                    padding-right: 16px;
                    padding-bottom: 16px;
                }
                i {
                    vertical-align: middle;
                    padding: 8px 4px 8px 0px;
                    -webkit-user-select: none; /* Chrome/Safari */        
                    -moz-user-select: none; /* Firefox */
                    -ms-user-select: none; /* IE10+ */

                    /* Rules below not implemented in browsers yet */
                    -o-user-select: none;
                    user-select: none;
                }
                margin: 0.25em 0;
            }
            
            .divider {
                padding: 0 !important; 
                margin: 0 !important;
                width: 100% !important;
            } 
            
            p {
                padding: 0.5em 0em;
            }
            
            ul {
                font-weight: normal;
                padding: 0 1.5em;
                list-style: initial;
                list-style-type: disc !important;
                li {
                    list-style-type: disc;
                }
            }
        }
    }
    .card-title {
        font-weight: 500;
    }
}

.btn {
    margin-bottom: 16px;
}

.card-action {
    text-align: center;
    i {
        margin-right: 0.25em;
    }
}

.contact {
    i {
        color: $secondary-text;
    }
}

.pagination {
    text-align: center;
    padding-bottom: 32px;
}

.gpbtn {
    @extend .red;
}

.fbbtn {
    @extend .light-blue, .darken-4; 
}

.twitterbtn {
    @extend .light-blue, .darken-2;
}

main {
    flex: 1 0 auto;
}

//$cp-link-color: color("deep-orange", "darken-1");
$cp-link-color: #d6d6d6;

.copyright-text {
    text-align: left;
    span {
        display: block;
        opacity: 1;
        a {
            text-decoration: underline; 
        }
    }
    padding-bottom: 16px;
}

code {
    background-color: rgba(107, 107, 107, 0.5);
    border-radius: 2px;
    font-size: 0.75em;
    padding: 0 0.2em;
    padding-top: 0.1em;
    padding-bottom: 0.2em;
    font-family: 'Roboto Mono', monospace;
    margin: 0 !important;
}

.sidebar {
    text-align: left !important;
}

.black-text {
    color: $primary-text !important;
}

.link-nostyle {
    color: $primary-text !important;
}

img {
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.collapsible-body {
    p {
        padding: 0 !important;
        padding-top: 0.5em !important;
        padding-left: 0.5em !important;
    }
    p:last-child {
        padding-bottom: 0.5em !important; 
    }
}

img + em {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}