body {
	max-width: 600px;
	width: 100%;
	padding: 0 auto;
	margin: 0 auto;
	text-align: justify;
	vertical-align: baseline;
	background-color: #353535;
	color: #e5e5e5;
	font-family: 'Calibri', serif;
}

.header h1 {
	margin-top: 12.5px;
	margin-bottom: 12.5px;
	position: relative;
}

.header .footer {
	vertical-align: middle;
	margin: 0 auto;
	position: relative;
	display: block;
}

h2 {
	margin: 0 auto;
	margin-bottom: 5px;
}

a {
	color: #c5c5c5;
	text-decoration: none;
}

a:visited {
	color: #c5c5c5;
}

a:hover {
	text-decoration: none;
	color: rgb(0, 110, 255);
}

.line-separator {
	margin: auto;
	position: relative; 
	background-color: #C0C0C0;
	border-bottom: 2px solid #C0C0C0;
}

.centered {
	text-align: center;
}

.container {
	height: auto;
	position: relative;
	border: 1px solid black;
	background-color: rgba(0, 110, 255, 0.125);
}

.container img {
	margin-left: auto;
	margin-right: auto;
	float: center;
	max-width: 575px;
	vertical-align: middle;
	display: block;
}

.article {
	margin-left: 5px;
	margin-right: 5px;
	display: block;
}

.info .date {
	font-size: 16px;
	float: right;
}

.info .title {
	font-size: 18px;
}

code {
	background-color: rgba(107, 107, 107, 0.25);
	border-radius: 3px;
	font-size: 85%;
	padding: 0.2em;
	margin: 0;
}

.hljs {
	font-size: 100%;
}
