<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Blog">

<head>
    <meta charset="{{ site.encoding }}">
    <meta name="theme-color" content="#212121">
    <meta name="mobile-web-app-capable" content="yes">
    <title>{% if page.title %}{{ page.title }} · {{ site.name }}{% else %}{{ site.name }}{% endif %}</title>
    <meta property="og:title" content="{% if page.title | xml_escape %}{{ page.title | xml_escape }} · {{ site.name | xml_escape }}{% else %}{{ site.name | xml_escape }}{% endif %}">
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 | xml_escape }}{% else %}{{ site.description }}{% endif %}">
    <meta property="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 | xml_escape }}{% else %}{{ site.description }}{% endif %}">
    <meta property="author" content="Alexandre Oliveira">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="{{ site.url }}">
    <link rel="stylesheet" href="{{ site.baseurl }}/static/css/material.css" type="text/css">
    <script type="text/javascript" src="{{ site.baseurl }}/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl}}/static/js/materialize/bin/materialize.min.js"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/static/main.css" type="text/css" media="screen,projection">
    <link rel="stylesheet" href="{{ site.baseurl }}/static/css/hljs/obsidian-custom.css" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/static/css/font-awesome.min.css" type="text/css"> 
    <link rel="stylesheet" href="{{ site.baseurl }}/static/css/roboto-mono.css" type="text/css"> 
    {% feed_meta %}
    <link rel="manifest" href="manifest.json">
    <link rel="icon" sizes="192x192" href="{{ site.baseurl }}/favicon.png">
    <script type="text/javascript" src="{{ site.baseurl }}/static/js/highlight.pack.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>
    {% include analytics.html %}
</head>

<body>
    {% include header.html %}
    <main>
        <div id="home">
            <div class="container">
                <div class="row hide-on-med-and-down">
                    <div class="col l8">
                        {{ content }}
                    </div>
                    <div class="col l4 hide-on-med-and-down">
                        {% include sidebar.html %}
                    </div>
                </div>
                <div class="hide-on-large-only">
                    {{ content }}
                </div>
            </div>
        </div>
        <div id="about">
            {% include about.html %}
        </div>
        <div id="contact">
            {% include contact.html %}
        </div>
    </main>
    {% include footer.html %}
</body>

</html>