<!DOCTYPE html>
<html lang="en">

 {% include head.html %}

<body itemscope itemtype="http://schema.org/Blog">
    {% include header.html %}
    <main>
        <div id="home">
            <div class="container">
                <div class="row hide-on-med-and-down">
                    <div class="col l8">
                        {{ content }}
                    </div>
                    <div class="col l4 hide-on-med-and-down">
                        {% include sidebar.html %}
                    </div>
                </div>
                <div class="hide-on-large-only">
                    {{ content }}
                </div>
            </div>
        </div>
        <div id="about">
            {% include about.html %}
        </div>
    </main>
    {% include footer.html %}
</body>

</html>
