<html>
	<head>
		<meta charset="{{ site.encoding }}">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
		<title>{{ site.name }}</title>
        <link rel='stylesheet' href='{{ site.baseurl }}/static/style.css' type='text/css'/>
        <link rel='stylesheet' href='{{ site.baseurl }}/static/hljs/styles/{{ site.highlightjs_style }}.css' type='text/css'/>
        <link rel='stylesheet' href='{{ site.baseurl }}/static/normalize.css' type='text/css'/>
        <link rel='stylesheet' href='{{ site.baseurl }}/static/font/ubuntu.css' type='text/css'/>
        <link rel='alternate' href='{{ site.baseurl }}/feed.xml' type='application/rss+xml' title="{{ site.name }} - {{ site.description }}"/>
		<script src="{{ site.baseurl }}/static/hljs/highlight.pack.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
		<!-- Piwik -->
		<script type="text/javascript">
		  var _paq = _paq || [];
		  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
		  _paq.push(["setCookieDomain", "*.rockytv.d-mp.org"]);
		  _paq.push(['trackPageView']);
		  _paq.push(['enableLinkTracking']);
		  (function() {
		    var u="//stats.52k.de/";
		    _paq.push(['setTrackerUrl', u+'piwik.php']);
		    _paq.push(['setSiteId', 5]);
		    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
		    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
		  })();
		</script>
		<noscript><p><img src="//stats.52k.de/piwik.php?idsite=5" style="border:0;" alt="" /></p></noscript>
		<!-- End Piwik Code -->

	</head>
	<body>
		{% include header.html %}
		{{ content }}
		{% include footer.html %}
	</body>
</html>
