---
layout: base
---
<article class="hentry">
    <div class="card">
        <div class="card-content black-text">
            <p class="card-title entry-title">
                <span class="post-title">{{ page.title }}</span>
            </p>
            <div class="card-description entry-content">
                {{ content }}
            </div>
        </div>
        <div class="card-action">
            {% include social.html %}
        </div>
        <div class="post-nav">
          {% if page.previous.url %}
          <div class="prev">
              <a class="btn-floating waves-effect waves-light" href="{{ page.previous.url }}"><i class="material-icons tiny left">chevron_left</i></a>
              <span>Previous Post<span>
          </div>
          {% endif %}
          {% if page.next.url %}
          <div class="next">
              <span>Next Post<span>
              <a class="btn-floating waves-effect waves-light" href="{{ page.next.url }}"><i class="material-icons tiny right">chevron_right</i></a>
          </div>
          {% endif %}
        </div>
    </div>
    <div class="card">
        <div class="card-content black-text">
            <div class="card-description">
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    /* * * CONFIGURATION VARIABLES * * */
                    var disqus_shortname = 'rockytv';

                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    (function () {
                        var dsq = document.createElement('script');
                        dsq.type = 'text/javascript';
                        dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
            </div>
        </div>
    </div>
</article>
