---
layout: base
---
<div class="container">
    <div class="card">
        <div class="card-content black-text">
            <p class="card-title">
                <span class="post-title">{{ page.title }}</span>
            </p>
            <div class="card-description">
            {{ content }}
            </div>
        </div>
        <div class="card-action">
            <a class="btn waves-effect waves-light gpbtn white-text" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" onclick="javascript:window:open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                <span>Google+</span>
            </a>
            <a class="btn waves-effect waves-light fbbtn white-text" href="https://facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" onclick="javascript:window:open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                <span>Facebook</span>
            </a>
            <a class="btn waves-effect waves-light twitterbtn white-text" href="https://twitter.com/intent/tweet?text={{ site.name }} - {{ page.title }}&url={{ site.url }}{{ page.url }}">
                <span>Twitter</span>
            </a>
        </div>
    </div>
    <div class="card">
        <div class="card-content black-text">
            <div class="card-description">
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    /* * * CONFIGURATION VARIABLES * * */
                    var disqus_shortname = 'rockytv';

                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
            </div>
        </div>
    </div>
</div>
